html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title test
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='email=no')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1')
    meta(name='renderer', content='webkit')
    //- link(href='/css/main.css', rel='stylesheet')
    //- script(src='/js/manifest.js')
    //- script(src='/js/vendor.js')
    script(src='/socket.io/socket.io.js')
  body
    #app
    //- h1 #{user.nickname}
    //- h2 #{user.sex}
    //- img(src='#{user.headimgurl}', style='width: 100%')
  script(src='js/admin.js')
