html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title test
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='email=no')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1')
    meta(name='renderer', content='webkit')
    if process.env.NODE_ENV === 'test'
      link(rel='stylesheet', type="text/css", href='/dist/css/#{page}.css')
    //- link(href='/css/base.min.css', rel="stylesheet")
    //- link(href='/css/project.min.css', rel="stylesheet")
    //- script(src='/js/jquery.min.js')
    //- script(src='/js/base.min.js')
    //- script(src='/js/project.min.js')
    script(src='/socket.io/socket.io.js')
    
  body
    #app
  if process.env.NODE_ENV === 'test'
    script(src='/dist/js/manifest.js')
    script(src='/dist/js/vendor.js')
    script(src='/dist/js/#{page}.js')
    
  else 
    script(src='/js/#{page}.js')
